Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$

fix: Delete Loadbalancer not possible, fixes 2102154
  src/stores/octavia/loadbalancer.js
Due: skyline-console-devstack-e2etests-network

docs: add missing pymysql dependency for database connectivity
  doc/source/install/docker-install-rhel.rst
  doc/source/install/docker-install-ubuntu.rst
Due: none

OpenStack Foundation rename to OpenInfra Foundation
  skyline_console/version.py
Due: none

External Fixed IP / External Fixed IPs rename to External IP / External IPs
  src/pages/network/containers/Router/Detail/BaseDetail.jsx
  src/pages/network/containers/Topology/NodeCard.jsx
  src/resources/neutron/router.jsx
Due: skyline-console-devstack-e2etests-network

Confirm form, "confirm" button update to OK | Part 2
  src/components/Form/index.jsx
  src/components/ModalButton/index.jsx
  src/components/StepForm/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Remove note about old pip's behavior
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Create Network - update size form
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
Due: skyline-console-devstack-e2etests-network

Update filter hint text
  src/components/Tables/Base/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Logs - add phrase in language file
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute

Network config display cleanup
  src/pages/compute/containers/Instance/actions/StepCreate/ConfirmStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

Fix Floating IP release confirmation text
  src/pages/network/containers/FloatingIp/actions/Release.jsx
Due: skyline-console-devstack-e2etests-network

Hypervisor Detail - Members replace to Instances
  src/pages/compute/containers/Hypervisors/Hypervisor/Detail/index.jsx
Due: skyline-console-devstack-e2etests-compute

Hide extra columns in image selection
  src/resources/glance/image.jsx
Due: skyline-console-devstack-e2etests-compute

Remove no need spaces
  docs/en/develop/3-10-FormItem-introduction.md
  docs/zh/develop/3-10-FormItem-introduction.md
  src/pages/compute/containers/Instance/actions/CreateIronic/NetworkStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/NetworkStep/index.jsx
  src/pages/container-infra/containers/ClusterTemplates/actions/StepCreate/StepNetwork/index.jsx
  src/pages/container-infra/containers/Clusters/actions/StepCreate/StepNetworks/index.jsx
  src/pages/container-service/containers/Containers/actions/StepCreate/StepNetworks/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-other

Rename CPU to vCPU in flavor creation
  src/pages/compute/containers/Flavor/actions/StepCreate/ParamSetting.jsx
Due: skyline-console-devstack-e2etests-compute

Hide Tags column on Volumes page
  src/resources/cinder/volume.jsx
Due: skyline-console-devstack-e2etests-storage

Fix typo in NUMA writing
  src/pages/compute/containers/Flavor/actions/StepCreate/ParamSetting.jsx
Due: skyline-console-devstack-e2etests-compute

Widen attached volume card
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.less
Due: skyline-console-devstack-e2etests-compute

Remove ironic-inspector
  src/client/client/constants.js
  src/pages/compute/containers/BareMetalNode/actions/Create/NodeInfo.jsx
  src/pages/compute/containers/BareMetalNode/actions/Inspect.jsx
  src/pages/compute/containers/BareMetalNode/actions/index.jsx
  src/resources/ironic/ironic.js
  test/e2e/integration/pages/compute/baremetal.spec.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix incorrect validation message for flavor selection
  src/pages/compute/containers/Instance/actions/CreateIronic/BaseStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

Unify snapshot tooltip text
  src/pages/compute/containers/Instance/actions/CreateSnapshot.jsx
Due: skyline-console-devstack-e2etests-compute

Hide Disk Format column on Instance Snapshots page
  src/resources/glance/instance-snapshot.js
Due: skyline-console-devstack-e2etests-compute

Filter OS tabs by available images when creating instance
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

fix for Message Reason
  src/components/Notify/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix for floating IP / floating IPs / DNS writing
  src/pages/network/containers/DNS/Zones/index.jsx
  src/pages/network/containers/FloatingIp/Detail/index.jsx
  src/pages/network/containers/FloatingIp/index.jsx
Due: skyline-console-devstack-e2etests-network

fix for QoS writing
  src/pages/storage/containers/VolumeType/QosSpec/Detail/index.jsx
Due: skyline-console-devstack-e2etests-storage

Bring contractions to one standard
  doc/source/user/compute.rst
  docs/en/develop/3-10-FormItem-introduction.md
  docs/zh/develop/3-10-FormItem-introduction.md
  src/pages/compute/containers/Image/Detail/BaseDetail.jsx
  src/pages/compute/containers/Image/actions/Create.jsx
  src/pages/compute/containers/Image/actions/Edit.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
  src/resources/glance/image.jsx
Due: skyline-console-devstack-e2etests-compute

fix for IPsec writing and Create time update to Created At
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.jsx
  src/pages/network/containers/VPN/IPsecSiteConnection/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network

Correct Floating IP release confirmation text typo
  src/pages/network/containers/FloatingIp/actions/Release.jsx
Due: skyline-console-devstack-e2etests-network

feat: Rebuild action added instance snapshot and bootable volume.
  releasenotes/notes/update_instance-rebuild_action-0ea4dfec87dd5be1.yaml
  src/pages/compute/containers/Instance/actions/RebuildSelect.jsx
  src/stores/nova/instance.js
Due: skyline-console-devstack-e2etests-compute

feat: enhance Object Storage UX with public URL access, clearer actions, and improved error messages
  src/pages/storage/containers/Container/Detail/actions/CopyFile.jsx
  src/pages/storage/containers/Container/Detail/actions/CopyPublicUrl.jsx
  src/pages/storage/containers/Container/Detail/actions/CutFile.jsx
  src/pages/storage/containers/Container/Detail/actions/Delete.jsx
  src/pages/storage/containers/Container/Detail/actions/PasteFile.jsx
  src/pages/storage/containers/Container/Detail/actions/index.jsx
  src/pages/storage/containers/Container/actions/Delete.jsx
  src/stores/swift/container.js
  src/stores/swift/object.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Confirm step display cleanup
  src/pages/compute/containers/Instance/actions/StepCreate/ConfirmStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

feat: Add instance reset state functionality
  src/pages/compute/containers/Instance/actions/Reset.jsx
  src/pages/compute/containers/Instance/actions/index.jsx
  src/stores/nova/instance.js
Due: skyline-console-devstack-e2etests-compute

Confirm form, "confirm" button update to OK | Part 3
  src/components/StepForm/index.jsx
  src/containers/Action/ConfirmAction/index.jsx
  src/pages/ha/containers/Segments/actions/StepCreate/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Number from placeholder not need add in language
  src/pages/network/containers/DNS/Reverse/actions/Set.jsx
Due: skyline-console-devstack-e2etests-network

fix for Endpoint writing
  src/pages/network/containers/VPN/EndpointGroup/actions/Edit.js
  src/pages/network/containers/VPN/index.jsx
  test/e2e/integration/pages/network/vpn.spec.js
Due: skyline-console-devstack-e2etests-network

Improve UX for Manual IP Assignment Field
  src/pages/compute/containers/Instance/actions/AttachInterface.jsx
Due: skyline-console-devstack-e2etests-compute

Fix issue for User ID
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute
