Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$

Remove overflow:hidden causing text truncation in action buttons/labels
  src/components/FormItem/IpInput/index.less
  src/components/FormItem/IpInputSimple/index.less
  src/components/FormItem/SelectTable/index.less
  src/components/Pagination/index.less
  src/components/StepForm/index.less
  src/components/Tables/Base/ItemActionButtons/index.less
  src/pages/base/containers/Overview/style.less
  src/pages/compute/containers/ServerGroup/Detail/index.less
  src/pages/network/containers/Port/Detail/SecurityGroups/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update Russian language
  src/locales/ru.json
Due: none

Explicitly define overflow for ant labels
  src/components/Form/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix with displaying phrases on buttons and in columns
  src/components/Tables/Base/ItemActionButtons/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Add German (de) locale
  config/config.yaml
  src/core/i18n.js
  src/locales/de.json
  src/locales/index.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix Windows instance password handling
  releasenotes/notes/fix-windows-password-handling-37c4427b813c253d.yaml
  src/pages/compute/containers/Instance/actions/CreateIronic/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/index.jsx
  src/resources/nova/instance.jsx
  src/stores/nova/instance.js
Due: skyline-console-devstack-e2etests-compute

Fix Windows instance password handling
  releasenotes/notes/fix-windows-password-handling-37c4427b813c253d.yaml
  src/pages/compute/containers/Instance/actions/CreateIronic/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/index.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute

Use the identity provider label for SSO login options
  releasenotes/notes/sso-identity-providers-8a7fa891fed455bf.yaml
  src/pages/auth/containers/Login/index.jsx
Due: skyline-console-devstack-e2etests-other

Make Magnum cluster nodes clickable
  src/pages/container-infra/containers/Clusters/Detail/BaseDetail.jsx
  src/stores/magnum/clusters.js
Due: skyline-console-devstack-e2etests-other

Update .gitreview for stable/2026.2
  .gitreview
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update TOX_CONSTRAINTS_FILE for stable/2026.2
  tox.ini
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update master for stable/2026.2
  releasenotes/source/2026.2.rst
  releasenotes/source/index.rst
Due: none

Add Zaqar (messaging) support to the console
  releasenotes/notes/Add-Zaqar-Messaging-UI-b4332287b6b96a5a.yaml
  src/client/client/constants.js
  src/client/index.js
  src/client/zaqar/index.js
  src/layouts/admin-menu.jsx
  src/layouts/menu.jsx
  src/pages/basic/routes/index.js
  src/pages/zaqar/App.jsx
  src/pages/zaqar/containers/Queue/Detail/Claim/actions/CreateClaim.jsx
  src/pages/zaqar/containers/Queue/Detail/Claim/actions/ReleaseClaim.jsx
  src/pages/zaqar/containers/Queue/Detail/Claim/index.jsx
  src/pages/zaqar/containers/Queue/Detail/Message/actions/Delete.jsx
  src/pages/zaqar/containers/Queue/Detail/Message/actions/PostMessage.jsx
  src/pages/zaqar/containers/Queue/Detail/Message/actions/index.jsx
  src/pages/zaqar/containers/Queue/Detail/Message/index.jsx
  src/pages/zaqar/containers/Queue/Detail/Subscription/actions/CreateSubscription.jsx
  src/pages/zaqar/containers/Queue/Detail/Subscription/actions/DeleteSubscription.jsx
  src/pages/zaqar/containers/Queue/Detail/Subscription/actions/UpdateSubscription.jsx
  src/pages/zaqar/containers/Queue/Detail/Subscription/actions/index.jsx
  src/pages/zaqar/containers/Queue/Detail/Subscription/index.jsx
  src/pages/zaqar/containers/Queue/Detail/index.jsx
  src/pages/zaqar/containers/Queue/actions/Create.jsx
  src/pages/zaqar/containers/Queue/actions/Delete.jsx
  src/pages/zaqar/containers/Queue/actions/EditMetadata.jsx
  src/pages/zaqar/containers/Queue/actions/Purge.jsx
  src/pages/zaqar/containers/Queue/actions/index.jsx
  src/pages/zaqar/containers/Queue/index.jsx
  src/pages/zaqar/routes/index.js
  src/resources/skyline/policy.js
  src/resources/zaqar/queue.js
  src/stores/zaqar/claim.js
  src/stores/zaqar/message.js
  src/stores/zaqar/queue.js
  src/stores/zaqar/subscription.js
  src/utils/zaqar.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage
