Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

skyline-console-devstack-e2etests-compute:
  parent: devstack-multinode
  description: 'Skyline-console e2e tests compute job based on devstack (multi-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/compute/run-devstack.yaml
  - playbooks/devstack/compute/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

skyline-console-devstack-e2etests-network:
  parent: devstack
  description: 'Skyline-console e2e tests network job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/network/run-devstack.yaml
  - playbooks/devstack/network/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

skyline-console-devstack-e2etests-other:
  parent: devstack
  description: 'Skyline-console e2e tests other job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/other/run-devstack.yaml
  - playbooks/devstack/other/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  required-projects:
  ...

skyline-console-devstack-e2etests-storage:
  parent: devstack
  description: 'Skyline-console e2e tests storage job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/storage/run-devstack.yaml
  - playbooks/devstack/storage/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

Volumes, "Name" field rename to "Volume Name"
  src/pages/compute/containers/Image/actions/CreateVolume.jsx
  src/pages/compute/containers/InstanceSnapshot/actions/CreateVolume.jsx
  src/pages/storage/containers/Snapshot/actions/CreateVolume.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-storage

Object storage, hide 'Storage Policy'
  src/pages/storage/containers/Container/index.jsx
Due: skyline-console-devstack-e2etests-storage

Add tooltip for scheduling mode selection
  src/pages/compute/containers/Instance/actions/StepCreate/SystemStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

Simplify disk format names in image creation form
  src/pages/compute/containers/Image/actions/Create.jsx
  src/resources/glance/image.jsx
  test/e2e/integration/pages/compute/image.spec.js
  test/e2e/support/resource-commands.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix text wrapping in DetailCard
  src/components/DetailCard/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Move Mbps unit into translations for QoS bandwidth labels
  src/pages/network/containers/QoSPolicy/Detail/BaseDetail.jsx
Due: skyline-console-devstack-e2etests-network

Networks, "Shared" field rename to "Shared Network"
  doc/source/user/network.rst
  src/components/FormItem/NetworkSelectTable/index.jsx
  src/components/Popover/PopoverNetworks.jsx
  src/pages/configuration/containers/SystemInfo/NeutronAgent/Detail/Network/actions/Add.jsx
  src/pages/configuration/containers/SystemInfo/NeutronAgent/Detail/Network/index.jsx
  src/pages/network/containers/Network/Detail/index.jsx
  src/pages/network/containers/Network/Network.jsx
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
  src/pages/network/containers/Network/actions/Edit.jsx
  src/resources/neutron/network.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Correct various grammar mistakes
  src/pages/network/containers/DNS/Zones/index.jsx
  src/pages/network/containers/LoadBalancers/Listener/Actions/EditHealthMonitor.jsx
  src/pages/network/containers/QoSPolicy/Detail/index.jsx
Due: skyline-console-devstack-e2etests-network

Modify Create Group Configurations form
  src/pages/database/containers/Configurations/actions/Create.jsx
Due: skyline-console-devstack-e2etests-other

Remove no need space
  src/pages/storage/containers/Container/Detail/index.jsx
Due: skyline-console-devstack-e2etests-storage

QoS, Firewall, "Shared" field rename to "Shared Rule"
  src/pages/network/containers/QoSPolicy/Detail/index.jsx
  src/pages/network/containers/QoSPolicy/actions/Create.jsx
  src/pages/network/containers/QoSPolicy/actions/Edit.jsx
  src/resources/neutron/firewall-policy.jsx
  src/resources/neutron/firewall-rule.js
  src/resources/neutron/qos-policy.jsx
Due: skyline-console-devstack-e2etests-network

LB Details, "Enable Health Monitor" rename to "Health Monitor Enabled"
  src/pages/network/containers/LoadBalancers/Listener/Detail/BaseDetail.jsx
Due: skyline-console-devstack-e2etests-network

"(Sec)" rename to "(s)"
  src/pages/network/containers/VPN/IPsecSiteConnection/Detail/BaseDetail.jsx
  src/pages/network/containers/VPN/IPsecSiteConnection/actions/Create.jsx
Due: skyline-console-devstack-e2etests-network

Ports, "Name" field rename to "Port Name"
  doc/source/user/network.rst
  src/pages/compute/containers/BareMetalNode/Detail/PortGroup/actions/Create.jsx
  src/pages/network/containers/Port/Detail/index.jsx
  src/pages/network/containers/Port/actions/Create.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network

Correct various grammar mistakes
  src/pages/compute/containers/Flavor/Detail/BaseDetail.jsx
  src/pages/compute/containers/Flavor/Detail/index.jsx
  src/pages/compute/containers/Flavor/actions/StepCreate/ParamSetting.jsx
Due: skyline-console-devstack-e2etests-compute

Update Russian language
  src/locales/ru.json
Due: none

"Sub Users" rename to "Users"
  docs/en/test/3-1-E2E-form-operation.md
  docs/zh/test/3-1-E2E-form-operation.md
  src/pages/identity/containers/UserGroup/Detail/index.jsx
  test/e2e/integration/pages/identity/user-group.spec.js
Due: skyline-console-devstack-e2etests-other

fix: prevent silent failure when retyping volumes with snapshots
  src/pages/storage/containers/Volume/actions/ChangeType.jsx
Due: skyline-console-devstack-e2etests-storage

Add Red Hat and Oracle Linux image types
  src/asset/image/oraclelinux.svg
  src/asset/image/redhat.svg
  src/components/ImageType/index.jsx
  src/resources/glance/image.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Hide Flavor column on Instances page
  src/pages/compute/containers/Instance/index.jsx
Due: skyline-console-devstack-e2etests-compute

Replace Protection Field Name
  doc/source/user/compute.rst
  src/pages/compute/containers/Image/actions/Create.jsx
  src/pages/compute/containers/Image/actions/Edit.jsx
Due: skyline-console-devstack-e2etests-compute

Update router detail page. Add L3 agent to the admin page when available in the environment.
  releasenotes/notes/update_router_detail_with_l3_agent-3689bc8a54171e8a.yaml
  src/client/neutron/index.js
  src/pages/network/containers/Router/Detail/BaseDetail.jsx
  src/stores/neutron/router.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Add microversion support to the API client for Nova and Cinder
  releasenotes/notes/add_microversion_support-724600b993501ab6.yaml
  src/client/client/constants.js
  src/client/client/request.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix OS validation trigger and add Disk (GiB) column to flavors
  src/components/FormItem/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
  src/resources/nova/flavor.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Remove no need space
  src/pages/network/containers/FloatingIp/Detail/PortForwarding/actions/Create.jsx
Due: skyline-console-devstack-e2etests-network

feat: add Network Quick Start functionality
  src/pages/base/containers/Overview/components/NetworkQuickStart.jsx
  src/pages/network/containers/Network/actions/index.jsx
  src/stores/neutron/network.js
  src/utils/validate.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix grammar typo for USB controllers
  src/pages/compute/containers/Flavor/Detail/BaseDetail.jsx
  src/pages/compute/containers/Flavor/actions/StepCreate/ParamSetting.jsx
Due: skyline-console-devstack-e2etests-compute

Fix for CephX and MapR-FS writing
  src/resources/manila/share.js
Due: skyline-console-devstack-e2etests-other

Bring "Create Host Aggregate" to one standard
  src/pages/compute/containers/HostAggregate/Aggregate/actions/Create.jsx
Due: skyline-console-devstack-e2etests-compute

Correct grammar mistake
  src/pages/network/containers/DNS/Reverse/actions/Set.jsx
Due: skyline-console-devstack-e2etests-network

Improve network quick create notification wording
  src/pages/base/containers/Overview/components/NetworkQuickStart.jsx
Due: skyline-console-devstack-e2etests-other

fix: Prevent form error when opening Create Instance before images load
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

Fix spelling for new password const
  test/e2e/integration/pages/compute/instance.spec.js
Due: skyline-console-devstack-e2etests-compute

Allow to specify any availability zone on instance creation
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/index.jsx
Due: skyline-console-devstack-e2etests-compute

feat: Show console in rescue mode.
  releasenotes/notes/show_console_in_rescue_mode-1cb77b4ab5c3ac77.yaml
  src/pages/compute/containers/Instance/actions/Console.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute

feat: Update i18n
  src/components/Tables/Base/index.jsx
  src/layouts/admin-menu.jsx
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/base/containers/Overview/components/NetworkQuickStart.jsx
  src/pages/compute/containers/Image/actions/Create.jsx
  src/pages/compute/containers/Instance/actions/CreateSnapshot.jsx
  src/pages/compute/containers/Instance/actions/Rescue.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/NetworkStep/index.jsx
  src/pages/ha/containers/Segments/actions/StepCreate/index.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/BaseStep/index.jsx
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
  src/pages/network/containers/Network/actions/CreateSubnet.jsx
  src/pages/network/containers/Network/actions/networkUtil.js
  src/pages/network/containers/Port/actions/AssociateFIP.jsx
  src/pages/network/containers/QoSPolicy/Detail/BaseDetail.jsx
  src/pages/storage/containers/Container/index.jsx
  src/pages/storage/containers/Volume/Detail/BaseDetail.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix for IP writing
  src/pages/network/containers/Port/Detail/FixedIPs/actions/ReleaseIP.jsx
Due: skyline-console-devstack-e2etests-network

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
