Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$

fix: cube pagination table data gets overridden on size change
  src/components/cube/CubePagination/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: hide image column in instance table by default
  src/pages/compute/containers/Instance/index.jsx
Due: skyline-console-devstack-e2etests-compute

feat: open grafana link on Go to Grafana button click
  config/cosApiProxy.js
  config/webpack.dev.js
  config/webpack.prod.js
  src/apis/cosApi.js
  src/apis/dataCenterApi.js
  src/apis/grafanaApi.js
  src/components/Tables/Base/ActionButton/index.jsx
  src/containers/List/index.jsx
  src/core/App.jsx
  src/pages/compute/containers/Instance/actions/GoToGrafana.jsx
  src/stores/datacenters/DataCenterStore.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: open grafana link on Go to Grafana button click
  config/config.yaml
  config/cosApiProxy.js
  config/webpack.dev.js
  config/webpack.prod.js
  src/apis/cosApi.js
  src/apis/dataCenterApi.js
  src/apis/grafanaApi.js
  src/components/Tables/Base/ActionButton/index.jsx
  src/containers/List/index.jsx
  src/core/App.jsx
  src/pages/compute/containers/Instance/actions/GoToGrafana.jsx
  src/stores/datacenters/DataCenterStore.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: make the default option
  src/pages/auth/containers/Login/index.jsx
Due: skyline-console-devstack-e2etests-other

feat: create zh-hant file
  src/locales/zh-hant.json
Due: none

feat: apply Traditional Chinese
  Gruntfile.js
  config/config.yaml
  jest.config.js
  src/core/i18n.js
  src/locales/index.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: table header and body position
  src/components/Status/index.jsx
  src/components/Tables/Base/index.jsx
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: no change translation
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
Due: none

feat: adjust instance creation flow
  src/components/FormItem/InstanceVolume/index.jsx
  src/components/FormItem/SelectTable/index.jsx
  src/locales/en.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/NetworkStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/SystemStep/index.jsx
  src/resources/glance/image.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: remove duplicate rows in Create Instance Steps
  src/pages/compute/containers/Instance/actions/StepCreate/ConfirmStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/NetworkStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/SystemStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

feat: Add rescue feature to Nova instance actions.
  src/pages/compute/containers/Instance/actions/Rescue.jsx
  src/pages/compute/containers/Instance/actions/index.jsx
  src/stores/nova/instance.js
Due: skyline-console-devstack-e2etests-compute

fix: remove duplicate rows in Create Flavor Steps
  src/pages/compute/containers/Flavor/actions/StepCreate/AccessTypeSetting.jsx
  src/pages/compute/containers/Flavor/actions/StepCreate/ParamSetting.jsx
Due: skyline-console-devstack-e2etests-compute

chore: comment out unsupported share protocols (keep NFS/CIFS)
  src/resources/manila/share.js
Due: skyline-console-devstack-e2etests-other

fix: login page terms and policy link
  src/pages/auth/containers/Login/index.jsx
Due: skyline-console-devstack-e2etests-other

Update validate.js
  src/utils/validate.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: notification rephrase (Add Access Rule)
  src/pages/share/containers/Share/Detail/AccessRule/actions/Create.jsx
Due: skyline-console-devstack-e2etests-other

feat: notification rephrase (Add Access Rule)
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
Due: none

feat: notification rephrase (Instance Resize)
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Instance/actions/Resize.jsx
Due: skyline-console-devstack-e2etests-compute

fix: when quota is undefined on the first render, return an empty string to avoid unexpected errors
  src/pages/compute/containers/Instance/actions/StepCreate/index.jsx
Due: skyline-console-devstack-e2etests-compute

feat: opensearch dhshboard link
  config/cosApiProxy.js
  src/apis/openSearchApi.js
  src/components/Tables/Base/index.less
  src/core/App.jsx
  src/pages/basic/App.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: grafana and opensearch links
  config/config.yaml
  config/utils.js
  config/webpack.common.js
  src/apis/cosApi.js
  src/apis/cosTokenApi.js
  src/apis/dataCenterApi.js
  src/apis/grafanaApi.js
  src/apis/openSearchApi.js
  src/components/Tables/Base/ActionButton/index.jsx
  src/components/Tables/Base/PrimaryActionButtons/index.jsx
  src/components/Tables/Base/index.less
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Instance/actions/Monitor.jsx
  src/pages/compute/containers/Instance/actions/index.jsx
  src/resources/nova/instance.jsx
  src/stores/datacenters/DataCenterStore.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: move path rewrite to backend
  config/webpack.prod.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: remove tokens api
  config/config.yaml
  src/apis/cosApi.js
  src/apis/cosTokenApi.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: adjust table headers and button text
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Instance/Detail/index.jsx
  src/pages/container-service/containers/Containers/Detail/index.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-other

Fix for skyline_console OSPC_1208
  src/resources/skyline/policy.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: hide the trace column in instance details page for edge mode data center
  config/config.yaml
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: Fix ports fetch
  src/stores/neutron/fixed-ip.js
Due: skyline-console-devstack-e2etests-network

Monkey patch createHash function as workaround for hardcoded md4 hash
  config/webpack.common.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: adjust icon size in hypervisor table
  src/components/Tables/Base/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: compute instance page pagination not clickable
  src/stores/base.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: adjust external networks display on Topology page
  src/pages/network/containers/Topology/index.jsx
Due: skyline-console-devstack-e2etests-network

refactor: update node cards to prevent overflow
  src/pages/network/containers/Topology/index.jsx
Due: skyline-console-devstack-e2etests-network

fix: switch language menu option ellipsis
  src/components/Layout/GlobalHeader/AvatarDropdown.jsx
  src/components/Layout/GlobalHeader/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: set No Change as default login option when creating instance from Windows-based VM
  src/pages/compute/containers/Instance/actions/StepCreate/SystemStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

Fix errors in portRangeRegex
  src/pages/network/containers/FloatingIp/Detail/PortForwarding/actions/Create.jsx
  src/utils/validate.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: 48 iam admin does not have admin project permission
  src/client/keystone/index.js
  src/stores/keystone/user.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage
