Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$

Target Tenant replace to Target Project
  src/pages/network/containers/RbacPolicies/Detail/Detail.jsx
Due: skyline-console-devstack-e2etests-network

Remove url tags from README
  README-ko_KR.rst
  README-zh_CN.rst
  README.rst
Due: none

Update Russian language
  src/locales/ru.json
Due: none

Fix column title for phone
  src/pages/identity/containers/User/Detail/index.jsx
Due: skyline-console-devstack-e2etests-other

Quote - left replaced to Available
  src/components/QuotaChart/Line.jsx
  src/components/QuotaChart/Ring.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Rename field “Available Zone” to “Availability Zone”
  doc/source/user/compute.rst
  doc/source/user/network.rst
  doc/source/user/storage.rst
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/compute/containers/Instance/actions/CreateIronic/BaseStep/index.jsx
  src/pages/compute/containers/Instance/actions/CreateIronic/ConfirmStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/ConfirmStep/index.jsx
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
  src/pages/storage/containers/Volume/actions/Create/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-storage

Fix column title for phone
  src/pages/identity/containers/User/index.jsx
Due: skyline-console-devstack-e2etests-other

Fix column title for description
  src/resources/keystone/domain.jsx
  src/resources/keystone/project.jsx
Due: skyline-console-devstack-e2etests-other

Security Group Rules - update size form
  src/components/TableButton/RuleButton.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

docs: fixes formatting issues
  doc/source/admin/identity.rst
  doc/source/contributor/development.environment.rst
  doc/source/contributor/documentation.rst
  doc/source/contributor/index.rst
  doc/source/development/catalog-introduction.rst
  doc/source/development/index.rst
  doc/source/development/ready-to-work.rst
  doc/source/user/compute.rst
  doc/source/user/dashboard.rst
  doc/source/user/network.rst
  doc/source/user/storage.rst
  doc/source/user/supported-browsers.rst
Due: none

docs: rename field “Available Zone” to “Availability Zone”
  docs/en/develop/3-10-FormItem-introduction.md
  docs/zh/develop/3-10-FormItem-introduction.md
Due: none

Port Detail - update size for Base Info block
  src/pages/network/containers/Port/Detail/BaseDetail/index.jsx
Due: skyline-console-devstack-e2etests-network

Key Manager - hide for admin if barbican not used
  src/layouts/menu.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Port Range - add possible translation for Any
  src/resources/neutron/security-group-rule.jsx
Due: skyline-console-devstack-e2etests-network

Correct Volume status naming on Resource Page
  src/pages/base/containers/AdminOverview/components/ResourceOverview.jsx
Due: skyline-console-devstack-e2etests-other

Fix CPU and Memory Usage label
  src/pages/base/containers/AdminOverview/components/VirtualResource.jsx
Due: skyline-console-devstack-e2etests-other

Correct various grammar or logic mistakes
  src/components/FormItem/MacAddressInput/index.jsx
  src/layouts/admin-menu.jsx
  src/pages/compute/containers/Instance/actions/DetachInterface.jsx
  src/pages/network/containers/FloatingIp/Detail/PortForwarding/index.jsx
  src/pages/network/containers/FloatingIp/actions/Associate.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/Member/index.jsx
  src/pages/network/containers/Network/actions/CreateSubnet.jsx
  src/pages/network/containers/Port/Detail/AllowedAddressPair/actions/CreateAllowedAddressPair.jsx
  src/resources/cinder/backup.jsx
  src/resources/cinder/snapshot.jsx
  src/resources/neutron/floatingip.js
  src/resources/neutron/port.jsx
  src/resources/nova/flavor.js
  test/e2e/integration/pages/configuration/setting.spec.js
  test/e2e/integration/pages/network/network.spec.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

VCPU, VGPU replaced to vCPU, vGPU
  docs/en/develop/3-7-ModalAction-introduction.md
  docs/zh/develop/3-7-ModalAction-introduction.md
  src/pages/compute/containers/BareMetalNode/actions/Create/DriveInterface.jsx
  src/pages/compute/containers/Flavor/actions/StepCreate/ParamSetting.jsx
  src/pages/compute/containers/Hypervisors/Hypervisor/Detail/index.jsx
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.jsx
  src/pages/compute/containers/Instance/actions/AttachVolume.jsx
  src/pages/compute/containers/Instance/actions/Resize.jsx
  src/pages/container-infra/containers/Clusters/Detail/BaseDetail.jsx
  src/pages/container-infra/containers/Clusters/actions/StepCreate/StepManagement/index.jsx
  src/pages/container-service/containers/Containers/Detail/BaseDetail.jsx
  src/pages/heat/containers/Stack/Detail/BaseDetail.jsx
  src/pages/monitor/containers/PhysicalNode/index.jsx
  src/pages/monitor/containers/StorageCluster/RenderTabs.jsx
  src/pages/network/containers/LoadBalancers/Listener/Actions/EditHealthMonitor.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/BaseDetail.jsx
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
  src/pages/network/containers/Network/actions/networkUtil.js
  src/pages/network/containers/RbacPolicies/Detail/index.jsx
  src/pages/network/containers/RbacPolicies/index.jsx
  src/pages/network/containers/SecurityGroup/Detail/Rule/actions/Create.jsx
  src/pages/network/containers/Subnet/actions/Edit.jsx
  src/pages/network/containers/VPN/EndpointGroup/actions/Create.js
  src/pages/network/containers/VPN/IPsecSiteConnection/actions/Create.jsx
  src/pages/share/containers/ShareInstance/Detail/BaseDetail.jsx
  src/pages/share/containers/ShareInstance/index.jsx
  src/pages/storage/containers/Volume/actions/ChangeType.jsx
  src/pages/storage/containers/Volume/actions/CloneVolume.jsx
  src/pages/storage/containers/Volume/actions/Migrate.jsx
  src/pages/storage/containers/VolumeType/QosSpec/actions/Create.jsx
  src/pages/storage/containers/VolumeType/QosSpec/actions/EditConsumer.jsx
  src/resources/cinder/cinder-pool.jsx
  src/resources/cinder/volume-type.js
  src/resources/cinder/volume.jsx
  src/resources/magnum/cluster.js
  src/resources/nova/hypervisor.jsx
  src/utils/validate.js
  test/e2e/integration/pages/storage/qos.spec.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Rename "Show Instance" checkbox
  src/pages/network/containers/Topology/index.jsx
Due: skyline-console-devstack-e2etests-network

Rename "Owned Network/Subnet" Field
  doc/source/user/network.rst
  docs/en/develop/3-10-FormItem-introduction.md
  src/pages/compute/containers/Instance/actions/ManageSecurityGroup.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/BaseStep/index.jsx
  src/pages/network/containers/Port/Detail/index.jsx
  src/pages/network/containers/Port/actions/AllocateIP.jsx
  src/pages/network/containers/Port/actions/Create.jsx
  src/pages/network/containers/Port/index.jsx
  src/resources/neutron/port.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network

Monkey patch createHash function as workaround for hardcoded md4 hash
  config/webpack.common.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Add i18n in the pre-comiit hooks
  package.json
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/resources/neutron/port.jsx
  src/resources/octavia/pool.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Rename "Port Security Enabled" to "Port Security"
  src/pages/network/containers/Network/Detail/Detail.jsx
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
  src/pages/network/containers/Network/actions/Edit.jsx
  src/pages/network/containers/Port/Detail/index.jsx
  src/pages/network/containers/Router/Port/Detail/BaseDetail.jsx
Due: skyline-console-devstack-e2etests-network

Update welcome page
  src/pages/auth/containers/Login/index.jsx
Due: skyline-console-devstack-e2etests-other

Rename "Owned Project" Field
  src/components/Layout/GlobalHeader/ProjectTable.jsx
  src/pages/compute/containers/Image/actions/Create.jsx
  src/pages/network/containers/QoSPolicy/Detail/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update User Password - names of fields on the form are now more precise
  src/components/Layout/GlobalHeader/Password.jsx
  src/pages/identity/containers/User/actions/Password.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Remove duplicate policy
  src/pages/identity/containers/Project/actions/RemoveDefaultProject.jsx
  src/pages/identity/containers/Project/actions/SetDefaultProject.jsx
Due: skyline-console-devstack-e2etests-other

Rename "Open External Gateway" option
  doc/source/user/network.rst
  src/pages/network/containers/Router/actions/Create.jsx
  src/pages/network/containers/Router/actions/SetGateway.jsx
  src/resources/neutron/router.jsx
Due: skyline-console-devstack-e2etests-network

Instance details, tab Instance Snapshots rename to Snapshots
  src/pages/compute/containers/Instance/Detail/index.jsx
Due: skyline-console-devstack-e2etests-compute

Tags, server replace to instance
  src/pages/compute/containers/Instance/actions/ModifyTags.jsx
Due: skyline-console-devstack-e2etests-compute

Instance details, Flavor Name rename to Name
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.jsx
Due: skyline-console-devstack-e2etests-compute

Volume connections, add possible transaction for "disk on instance name"
  src/pages/storage/containers/Volume/Detail/BaseDetail.jsx
  src/resources/cinder/volume.jsx
Due: skyline-console-devstack-e2etests-storage

Volume details, tab Volume Backups rename to Backups
  src/pages/storage/containers/Volume/Detail/index.jsx
  test/e2e/integration/pages/storage/volume.spec.js
Due: skyline-console-devstack-e2etests-storage

Volume details, tab Volume Snapshots rename to Snapshots
  src/pages/storage/containers/Volume/Detail/index.jsx
  test/e2e/integration/pages/storage/snapshot.spec.js
  test/e2e/integration/pages/storage/volume.spec.js
Due: skyline-console-devstack-e2etests-storage

Improve detail card layout
  src/containers/BaseDetail/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: use default pagination options for the volume listing page
  src/pages/storage/containers/Volume/index.jsx
Due: skyline-console-devstack-e2etests-storage
