Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Update: Instance detail view full log opening on url and re-fetches log data on page reload.
  releasenotes/notes/update_instance_detail_view_full_logs-496ebd6ca040eed6.yaml
  src/core/routes.js
  src/pages/compute/containers/Instance/Detail/Log/LogDetail/index.jsx
  src/pages/compute/containers/Instance/Detail/Log/LogDetail/index.less
  src/pages/compute/containers/Instance/Detail/Log/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix(i18n): update locales and fill missing translations
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
Due: none

fix(i18n): update locales and fill missing translations
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
Due: none

fix: add setuptools for pkg_resources in doc build
  doc/requirements.txt
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: add IPA_DOWNLOAD_BRANCH for Ironic e2e tests
  .zuul.yaml
Due: none

Update .gitreview for stable/2026.1
  .gitreview
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  tox.ini
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

test: Disable ironic deployment in DevStack E2E tests
  .zuul.yaml
  playbooks/devstack/compute/run-devstack.yaml
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Set browser title from current page
  releasenotes/notes/browser-page-title-8a8f5953afe74672.yaml
  src/layouts/Base/index.jsx
  src/utils/document-title.js
  src/utils/document-title.spec.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix frontend sorting in the registers
  src/utils/table.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: Adjust quick search label for instance port filtering
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/network/containers/Port/index.jsx
Due: skyline-console-devstack-e2etests-network

fix: Unify attach volume operations for instance list, detail page and architecture view
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.jsx
Due: skyline-console-devstack-e2etests-compute

fix: Show red overflow state in quota chart for instance/volume creation
  src/components/QuotaChart/Line.jsx
  src/components/QuotaChart/Ring.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/index.jsx
  src/resources/cinder/volume.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

test: refactor and simplify user E2E cases
  test/e2e/integration/pages/configuration/metadata.spec.js
  test/e2e/integration/pages/identity/user.spec.js
Due: skyline-console-devstack-e2etests-other

fix: Empty Remote IP Prefix for remote group rules
  src/resources/neutron/security-group-rule.jsx
Due: skyline-console-devstack-e2etests-network

feature: Add region selector
  cypress.json
  releasenotes/notes/support-region-switch-61012ef12401f286.yaml
  src/client/skyline/index.js
  src/components/Layout/GlobalHeader/ProjectDropdown.jsx
  src/components/Layout/GlobalHeader/index.jsx
  src/components/Layout/GlobalHeader/index.less
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/auth/containers/Login/index.jsx
  src/stores/root.js
  test/e2e/integration/pages/login.spec.js
  test/e2e/support/commands.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix magic input for only options-filters
  src/components/MagicInput/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Add support for subnet pools
  releasenotes/notes/add-subnet-pool-support-4d7aac92afde2a10.yaml
  src/client/neutron/index.js
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/network/containers/Network/actions/CreateSubnet.jsx
  src/stores/index.jsx
  src/stores/neutron/network.js
  src/stores/neutron/subnetpool.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix hypervisor display for dedicated CPUs (pCPU)
  releasenotes/notes/fix-hypervisor-dedicated-cpu-display-2154443.yaml
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/compute/containers/Hypervisors/Hypervisor/Detail/index.jsx
  src/resources/nova/hypervisor.jsx
  src/stores/nova/hypervisor.js
Due: skyline-console-devstack-e2etests-compute

Add support for TOTP two-factor authentication
  package.json
  releasenotes/notes/add-totp-support-dfc6339b3d134d2d.yaml
  src/client/keystone/index.js
  src/client/skyline/index.js
  src/layouts/user-menu.jsx
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/auth/containers/Login/index.jsx
  src/pages/identity/containers/User/Detail/AdminTOTP.jsx
  src/pages/identity/containers/User/Detail/index.jsx
  src/pages/user-center/containers/TOTP/index.jsx
  src/pages/user-center/containers/TOTP/styles.less
  src/pages/user-center/routes/index.js
  src/stores/keystone/totp.js
  src/stores/root.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: pass username and domain separately for TOTP setup
  src/pages/auth/containers/Login/index.jsx
Due: skyline-console-devstack-e2etests-other

Fix port forwarding ports sent as string instead of integer
  releasenotes/notes/fix-port-forwarding-integer-ports-9fe4753e88a0b757.yaml
  src/pages/network/containers/FloatingIp/Detail/PortForwarding/actions/Create.jsx
  src/pages/network/containers/FloatingIp/Detail/PortForwarding/actions/Edit.jsx
Due: skyline-console-devstack-e2etests-network

Add clouds.yaml download support
  releasenotes/notes/add-clouds-yaml-download-8f3a2c1b5d4e6f7a.yaml
  src/components/Layout/GlobalHeader/AvatarDropdown.jsx
  src/components/Layout/GlobalHeader/CloudsYaml.jsx
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/resources/keystone/clouds-yaml.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Tighten instance card layout and set overflow-wrap: normal to stop label wrapping
  src/components/DetailCard/index.less
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage
