Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$

Fix container tag for 2023.2 on doc
  doc/source/install/docker-install-ubuntu.rst
Due: none

Skyline Installation Guide - for RHEL/CentOS - Docker
  doc/source/install/docker-install-rhel.rst
  doc/source/install/installing-guide.rst
Due: none

Skyline Installation Guide - for RHEL/CentOS - Source
  doc/source/install/installing-guide.rst
  doc/source/install/source-install-rhel.rst
Due: none

Source Install RHEL or CentOS / Docker Install RHEL and CentOS - fix mistakes
  doc/source/install/docker-install-rhel.rst
  doc/source/install/source-install-rhel.rst
Due: none

Update README.rst
  README.rst
Due: none

fix: test failure with new ubuntu & os 2024.02
  Makefile
  src/pages/identity/containers/Role/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Makefile - update deprecated
  Makefile
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Source Install Ubuntu - fix mistakes
  doc/source/install/source-install-ubuntu.rst
Due: none

Supported Operating Systems - updated list of operating systems
  doc/source/install/system-requirements.rst
Due: none

chore: add github actions check
  .github/workflows/ci-workflows.yaml
  src/layouts/admin-menu.jsx
  src/layouts/menu.jsx
  src/stores/root.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Use make package directly in run.yaml of python-tarball
  playbooks/python-tarball/run.yaml
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update README.rst
  README.rst
  doc/README.rst
Due: none

fix: build skyline-console-master.tar.gz failed
  playbooks/python-tarball/run.yaml
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update variables.less and sidebar styles
  config/theme-custom.js
  config/theme.js
  src/asset/cube/custom/logo-cube-cos.png
  src/asset/cube/custom/logo-skyline.png
  src/asset/template/index.html
  src/components/Form/index.less
  src/components/FormItem/SelectTable/index.less
  src/layouts/Base/Menu.jsx
  src/layouts/Base/index.less
  src/layouts/admin-menu.jsx
  src/layouts/menu.jsx
  src/layouts/user-menu.jsx
  src/styles/variables-custom.less
  src/styles/variables.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update header styles
  src/components/Layout/GlobalHeader/ProjectDropdown.jsx
  src/components/Layout/GlobalHeader/RightContent.jsx
  src/components/Layout/GlobalHeader/index.jsx
  src/components/Layout/GlobalHeader/index.less
  src/components/Layout/GlobalNav/index.jsx
  src/components/Layout/GlobalNav/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update copyright styles
  src/layouts/Base/index.less
Due: none

feat: update login page styles
  src/components/SelectLang/index.jsx
  src/components/SelectLang/index.less
  src/components/cube/CubeInput/index.jsx
  src/components/cube/CubePasswordInput/index.jsx
  src/components/cube/CubePasswordInput/index.less
  src/components/cube/CubeSelect/index.jsx
  src/components/cube/CubeSelect/index.less
  src/layouts/Auth/index.jsx
  src/layouts/Auth/index.less
  src/pages/auth/containers/Login/index.jsx
  src/pages/auth/containers/Login/index.less
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update layouts and change icons on homepage
  src/asset/cube/custom/icon-instance.png
  src/asset/cube/custom/icon-networks.png
  src/asset/cube/custom/icon-router.png
  src/asset/cube/custom/icon-volumes.png
  src/components/Layout/GlobalHeader/index.less
  src/layouts/Base/index.less
  src/pages/base/containers/Overview/index.jsx
  src/pages/base/containers/Overview/style.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update homepage ui
  src/components/cube/CubeCard/index.jsx
  src/components/cube/CubeCard/index.less
  src/layouts/Base/index.less
  src/pages/base/containers/Overview/components/ProjectInfo.jsx
  src/pages/base/containers/Overview/components/QuotaOverview.jsx
  src/pages/base/containers/Overview/style.less
  src/styles/variables-custom.less
  src/styles/variables.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update ui of Admin Overview page
  src/pages/base/containers/AdminOverview/components/ComputeService.jsx
  src/pages/base/containers/AdminOverview/components/NetworkService.jsx
  src/pages/base/containers/AdminOverview/components/PlatformInfo.jsx
  src/pages/base/containers/AdminOverview/components/ResourceOverview.jsx
  src/pages/base/containers/AdminOverview/components/VirtualResource.jsx
  src/pages/base/containers/AdminOverview/index.jsx
  src/pages/base/containers/AdminOverview/style.less
Due: skyline-console-devstack-e2etests-other

update ui of User Center page
  src/pages/user-center/containers/UserCenter/index.jsx
  src/pages/user-center/containers/UserCenter/styles.less
Due: skyline-console-devstack-e2etests-other

feat: update icon settings
  config/webpack.common.js
  package.json
  src/components/Cards/NotFound/index.jsx
  src/components/FormItem/Label/index.jsx
  src/components/Layout/GlobalHeader/index.jsx
  src/layouts/Base/Menu.jsx
  src/layouts/Base/index.less
  yarn.lock
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update svg usages
  src/components/ImageType/index.jsx
  src/pages/base/containers/AdminOverview/components/ResourceOverview.jsx
  src/pages/base/containers/Overview/index.jsx
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.jsx
  src/pages/user-center/containers/UserCenter/index.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update svg usages
  src/components/Layout/GlobalHeader/AvatarDropdown.jsx
  src/components/Layout/GlobalHeader/ProjectDropdown.jsx
  src/components/Layout/GlobalNav/Right/index.jsx
  src/components/Layout/GlobalNav/Right/index.less
  src/components/Layout/GlobalNav/index.jsx
  src/components/Layout/GlobalNav/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add ref to Project dropdown
  src/components/Layout/GlobalHeader/ProjectDropdown.jsx
  src/components/Tables/Base/ItemActionButtons/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: select project modal unable to close bug
  src/components/Layout/GlobalHeader/ProjectDropdown.jsx
  src/components/Tables/Base/ItemActionButtons/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update header styles
  src/components/Layout/GlobalHeader/ProjectDropdown.jsx
  src/components/Layout/GlobalHeader/index.less
  src/components/Layout/GlobalNav/index.jsx
  src/components/Layout/GlobalNav/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update svg usages
  src/components/SelectLang/index.jsx
  src/components/SelectLang/index.less
  src/components/cube/CubeSelect/index.jsx
  src/components/cube/CubeSelect/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update cube input, cube select, and login footer styles
  src/components/cube/CubeInput/index.jsx
  src/components/cube/CubeInput/index.less
  src/components/cube/CubeSelect/index.less
  src/pages/auth/containers/Login/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update imports
  src/pages/base/containers/Overview/components/ProjectInfo.jsx
  src/pages/base/containers/Overview/components/QuotaOverview.jsx
Due: skyline-console-devstack-e2etests-other
