Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$

Rename QEMU Guest Agent Label
  src/pages/compute/containers/Image/actions/Create.jsx
  src/pages/compute/containers/Image/actions/Edit.jsx
Due: skyline-console-devstack-e2etests-compute

Add CPU policy tooltips to image creation
  src/pages/compute/containers/Image/actions/Create.jsx
Due: skyline-console-devstack-e2etests-compute

Fix duplicated affinity policies
  src/pages/compute/containers/ServerGroup/actions/Create.jsx
Due: skyline-console-devstack-e2etests-compute

Rename Virtual Adapter to Ports
  doc/source/development/catalog-introduction.rst
  doc/source/test/catalog-introduction.rst
  doc/source/user/network.rst
  docs/en/develop/2-catalog-introduction.md
  docs/en/develop/3-10-FormItem-introduction.md
  docs/en/test/2-catalog-introduction.md
  docs/en/test/3-4-E2E-resource-operation.md
  docs/zh/develop/3-10-FormItem-introduction.md
  src/pages/compute/containers/Instance/actions/AttachInterface.jsx
  src/pages/compute/containers/Instance/actions/CreateIronic/NetworkStep/index.jsx
  src/pages/compute/containers/Instance/actions/ManageSecurityGroup.jsx
  src/pages/compute/containers/Instance/actions/SoftDelete.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/NetworkStep/index.jsx
  src/pages/network/containers/FloatingIp/actions/Associate.jsx
  src/pages/network/containers/Port/actions/AssociateFIP.jsx
  src/pages/network/containers/Port/actions/Attach.jsx
  src/pages/network/containers/Port/actions/Create.jsx
  src/pages/network/containers/Port/actions/Delete.jsx
  src/pages/network/containers/Port/actions/DisAssociateFIP.jsx
  src/pages/network/containers/Port/index.jsx
  src/resources/neutron/port.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network

Fix formatting in Member Detail Page
  src/components/FormItem/MemberAllocator/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update Russian language
  src/locales/ru.json
Due: none

Rename "Weights" to "Weight"
  src/components/FormItem/MemberAllocator/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Correct tip format for QEMU Guest agent
  src/pages/compute/containers/Image/actions/Create.jsx
  src/pages/compute/containers/Image/actions/Edit.jsx
Due: skyline-console-devstack-e2etests-compute

Fix IPv6 subnet fields visibility in network form
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
Due: skyline-console-devstack-e2etests-network

Remove no need spaces
  src/pages/compute/containers/Instance/actions/CreateIronic/NetworkStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

Source_IP replace to source IP
  src/pages/storage/containers/VolumeType/QosSpec/index.jsx
  src/resources/octavia/pool.js
Due: skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-storage

Hide Monitor Center menu by default
  src/layouts/admin-menu.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Correct various grammar mistakes
  docs/en/develop/3-10-FormItem-introduction.md
  docs/en/develop/3-14-I18n-introduction.md
  docs/zh/develop/3-10-FormItem-introduction.md
  docs/zh/develop/3-14-I18n-introduction.md
  src/pages/compute/containers/Instance/Detail/index.jsx
  src/pages/compute/containers/Instance/actions/CreateIronic/NetworkStep/index.jsx
  src/pages/network/containers/Port/actions/Create.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network

Add GENEVE provider network type and set as default
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
  src/pages/network/containers/Network/actions/networkUtil.js
Due: skyline-console-devstack-e2etests-network

Provider Network Type - add possible translation
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
Due: skyline-console-devstack-e2etests-network

Rename "Name" field to "Instance Name"
  src/pages/compute/containers/Instance/actions/StepCreate/ConfirmStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

Object Storage - rename form, fix for "New Name" field
  src/pages/storage/containers/Container/Detail/actions/Rename.jsx
Due: skyline-console-devstack-e2etests-storage

Add tooltips for Octavia provider field
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/BaseStep/index.jsx
Due: skyline-console-devstack-e2etests-network

Key pairs, "Name" field rename to "Keypair Name"
  doc/source/user/compute.rst
  src/pages/compute/containers/Keypair/actions/Create.jsx
  src/pages/compute/containers/Keypair/index.jsx
Due: skyline-console-devstack-e2etests-compute

Make Load Balancer table columns hideable
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/index.jsx
Due: skyline-console-devstack-e2etests-network

docs: :memo: align translations with current glossary
  .github/workflows/ci-workflows.yaml
  .github/workflows/skyline-console-wheel.yaml
  src/locales/zh-hant.json
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Extend email TLD length
  src/utils/validate.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Correct various grammar mistakes
  doc/source/user/compute.rst
  src/pages/compute/containers/BareMetalNode/actions/Create/DriveInterface.jsx
  src/pages/compute/containers/Image/actions/CreateVolume.jsx
  src/pages/compute/containers/Instance/actions/ManageSecurityGroup.jsx
  src/pages/compute/containers/Instance/actions/RebuildSelect.jsx
  src/pages/compute/containers/InstanceSnapshot/actions/CreateVolume.jsx
  src/pages/configuration/containers/Metadata/actions/Create.jsx
  src/pages/network/containers/FloatingIp/actions/Allocate.jsx
  src/pages/network/containers/Network/Detail/index.jsx
  src/pages/network/containers/Port/actions/DisAssociateFIP.jsx
  src/pages/network/containers/Port/index.jsx
  src/pages/network/containers/Subnet/Detail/index.jsx
  src/pages/storage/containers/Backup/actions/CreateVolume.jsx
  src/pages/storage/containers/Snapshot/actions/CreateVolume.jsx
  src/resources/neutron/floatingip.js
  src/resources/neutron/port.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Database rename to Databases in navigation menu
  src/layouts/admin-menu.jsx
  src/layouts/menu.jsx
  src/pages/base/containers/Overview/components/QuotaOverview.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Improve affinity description
  src/pages/database/containers/Instances/Detail/BaseDetail.jsx
  src/pages/database/containers/Instances/actions/StepCreate/StepDetails/index.jsx
Due: skyline-console-devstack-e2etests-other

Fix: Add fallback to prevent Copy Public URL error
  src/pages/storage/containers/Container/Detail/actions/CopyPublicUrl.jsx
Due: skyline-console-devstack-e2etests-storage

Object storage, "Name" field rename to "Container Name" (first step)
  src/pages/storage/containers/Container/actions/Create.jsx
Due: skyline-console-devstack-e2etests-storage

LB, Listener Detail rename to Listener Details
  src/layouts/admin-menu.jsx
  src/layouts/menu.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/ListenerStep/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

LB, Pool Detail rename to Pool Details
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/PoolStep/index.jsx
Due: skyline-console-devstack-e2etests-network

LB, Member Detail rename to Member Details
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/MemberStep/index.jsx
Due: skyline-console-devstack-e2etests-network

LB, Health Monitor Detail rename to Health Monitor Details
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/HealthMonitorStep/index.jsx
Due: skyline-console-devstack-e2etests-network

Enable DHCP rename to DHCP Enabled
  src/pages/network/containers/Subnet/Detail/Detail.jsx
Due: skyline-console-devstack-e2etests-network

LB, correct various grammar mistakes
  src/pages/identity/containers/Project/actions/ManageQuota.jsx
  src/pages/network/containers/LoadBalancers/Listener/Actions/EditPoolInfo.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/BaseDetail.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/index.jsx
  src/pages/network/containers/LoadBalancers/Listener/index.jsx
  src/pages/network/containers/QoSPolicy/Detail/BaseDetail.jsx
  src/resources/neutron/qos-policy.jsx
Due: skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other

feat: Remove the detailed logs during the packaging process
  package.json
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Update caniuse-lite version
  yarn.lock
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Update i18n
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/storage/containers/Container/Detail/actions/CutFile.jsx
Due: skyline-console-devstack-e2etests-storage

Images, "Name" field rename to "Image Name"
  src/pages/compute/containers/Image/actions/Create.jsx
Due: skyline-console-devstack-e2etests-compute
