Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

skyline-console-devstack-e2etests-compute:
  parent: devstack-multinode
  description: 'Skyline-console e2e tests compute job based on devstack (multi-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/compute/run-devstack.yaml
  - playbooks/devstack/compute/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

skyline-console-devstack-e2etests-network:
  parent: devstack
  description: 'Skyline-console e2e tests network job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/network/run-devstack.yaml
  - playbooks/devstack/network/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

skyline-console-devstack-e2etests-other:
  parent: devstack
  description: 'Skyline-console e2e tests other job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/other/run-devstack.yaml
  - playbooks/devstack/other/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  required-projects:
  ...

skyline-console-devstack-e2etests-storage:
  parent: devstack
  description: 'Skyline-console e2e tests storage job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/storage/run-devstack.yaml
  - playbooks/devstack/storage/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

feat: update homepage ui
  src/components/cube/CubeCard/index.jsx
  src/components/cube/CubeCard/index.less
  src/layouts/Base/index.less
  src/pages/base/containers/Overview/components/ProjectInfo.jsx
  src/pages/base/containers/Overview/components/QuotaOverview.jsx
  src/pages/base/containers/Overview/style.less
  src/styles/variables-custom.less
  src/styles/variables.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update layouts and change icons on homepage
  src/asset/cube/custom/icon-instance.png
  src/asset/cube/custom/icon-networks.png
  src/asset/cube/custom/icon-router.png
  src/asset/cube/custom/icon-volumes.png
  src/components/Layout/GlobalHeader/index.less
  src/layouts/Base/index.less
  src/pages/base/containers/Overview/index.jsx
  src/pages/base/containers/Overview/style.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update home page styles
  src/components/cube/CubePasswordInput/index.less
  src/pages/base/containers/Overview/components/ProjectInfo.jsx
  src/pages/base/containers/Overview/components/QuotaOverview.jsx
  src/pages/base/containers/Overview/style.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update header styles
  src/components/Layout/GlobalHeader/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update ui of Admin Overview page
  src/pages/base/containers/AdminOverview/components/ComputeService.jsx
  src/pages/base/containers/AdminOverview/components/NetworkService.jsx
  src/pages/base/containers/AdminOverview/components/PlatformInfo.jsx
  src/pages/base/containers/AdminOverview/components/ResourceOverview.jsx
  src/pages/base/containers/AdminOverview/components/VirtualResource.jsx
  src/pages/base/containers/AdminOverview/index.jsx
  src/pages/base/containers/AdminOverview/style.less
Due: skyline-console-devstack-e2etests-other

feat: update svg usages
  src/pages/base/containers/AdminOverview/components/ComputeService.jsx
  src/pages/base/containers/AdminOverview/components/NetworkService.jsx
  src/pages/base/containers/AdminOverview/components/PlatformInfo.jsx
  src/pages/base/containers/AdminOverview/components/ResourceOverview.jsx
  src/pages/base/containers/AdminOverview/components/VirtualResource.jsx
  src/pages/base/containers/AdminOverview/style.less
Due: skyline-console-devstack-e2etests-other

feat: update layouts and change icons on homepage
  src/layouts/Base/index.less
  src/pages/base/containers/Overview/style.less
Due: skyline-console-devstack-e2etests-other

feat: update admin overview page styles
  src/pages/base/containers/AdminOverview/components/VirtualResource.jsx
  src/pages/base/containers/AdminOverview/style.less
Due: skyline-console-devstack-e2etests-other

feat: update ui of User Center page
  src/pages/user-center/containers/UserCenter/index.jsx
  src/pages/user-center/containers/UserCenter/styles.less
Due: skyline-console-devstack-e2etests-other

feat: update user center page style
  src/pages/user-center/containers/UserCenter/styles.less
Due: skyline-console-devstack-e2etests-other

feat: create CubePagination component
  src/components/Tables/Base/index.jsx
  src/components/cube/CubePagination/index.jsx
  src/components/cube/CubePagination/index.less
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add CubeIconButton and update table header layouts
  src/components/Tables/Base/Download/index.jsx
  src/components/Tables/Base/index.jsx
  src/components/Tables/Base/index.less
  src/components/cube/CubeButton/CubeIconButton.jsx
  src/components/cube/CubeButton/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add isCreateIcon prop to ActionButton
  src/components/Tables/Base/ActionButton/index.jsx
  src/components/Tables/Base/PrimaryActionButtons/index.jsx
  src/components/Tables/Base/index.jsx
  src/components/Tables/Base/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add icon to more action button; update checkbox styles
  src/components/Tables/Base/BatchActionButtons/index.jsx
  src/components/Tables/Base/BatchActionButtons/index.less
  src/components/Tables/Base/ItemActionButtons/index.jsx
  src/components/Tables/Base/ItemActionButtons/index.less
  src/components/cube/CubeButton/index.less
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update MagicInput ui
  src/components/MagicInput/index.jsx
  src/components/MagicInput/index.less
  src/components/Tables/Base/index.jsx
  src/styles/variables.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update table footer ui
  src/components/FormItem/SelectTable/index.less
  src/components/MagicInput/index.less
  src/components/Tables/Base/index.less
  src/layouts/Base/index.less
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add CubeCreateButton
  src/components/cube/CubeButton/CubeCreateButton.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update lock/unlock svg icons
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute

feat: add missing classname import
  src/components/Tables/Base/ItemActionButtons/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update base table styles
  src/components/Tables/Base/BatchActionButtons/index.less
  src/components/Tables/Base/index.less
  src/components/cube/CubePagination/index.less
  src/layouts/Blank/index.less
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update detail page layouts; update ui of Form and Modal
  src/components/DetailCard/index.jsx
  src/components/DetailCard/index.less
  src/components/Form/index.jsx
  src/components/Form/index.less
  src/components/InfoButton/index.jsx
  src/components/InfoButton/index.less
  src/components/Infos/index.jsx
  src/components/Infos/index.less
  src/components/ModalButton/index.jsx
  src/components/QuotaChart/Line.jsx
  src/components/QuotaChart/Ring.jsx
  src/components/QuotaChart/index.jsx
  src/components/QuotaChart/index.less
  src/components/StepForm/index.jsx
  src/components/StepForm/index.less
  src/components/Tables/Base/ActionButton/index.jsx
  src/components/Tables/Base/ActionButton/index.less
  src/components/Tables/Base/ItemActionButtons/index.less
  src/components/Tables/Base/PrimaryActionButtons/index.jsx
  src/components/cube/CubeCard/CubeCardDetail.jsx
  src/components/cube/CubeCard/index.less
  src/containers/BaseDetail/index.jsx
  src/containers/BaseDetail/index.less
  src/containers/List/index.less
  src/containers/TabDetail/index.jsx
  src/containers/TabDetail/index.less
  src/containers/TabList/index.less
  src/layouts/Base/index.less
  src/pages/compute/containers/Instance/Detail/Log/index.jsx
  src/pages/compute/containers/Instance/Detail/Log/index.less
  src/pages/compute/containers/Instance/Detail/SecurityGroup/index.jsx
  src/pages/compute/containers/Instance/Detail/SecurityGroup/index.less
  src/pages/compute/containers/ServerGroup/Detail/index.less
  src/pages/network/containers/Port/Detail/SecurityGroups/index.jsx
  src/pages/network/containers/Port/Detail/SecurityGroups/index.less
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update various pages styles
  src/asset/image/arch.svg
  src/asset/image/instance_thin.svg
  src/components/DetailCard/index.jsx
  src/components/DetailCard/index.less
  src/components/Infos/index.jsx
  src/components/Infos/index.less
  src/pages/base/containers/Overview/components/ProjectInfo.jsx
  src/pages/base/containers/Overview/components/QuotaOverview.jsx
  src/pages/base/containers/Overview/style.less
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.jsx
  src/pages/compute/containers/Instance/Detail/BaseDetail/index.less
  src/pages/compute/containers/Instance/Detail/SecurityGroup/index.less
  src/pages/compute/containers/Instance/actions/StepCreate/index.less
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: CICD build failure in Ubuntu 2024.04
  Makefile
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: post build tarball failure in ubuntu 20.04
  Makefile
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update topology page styles
  src/asset/cube/custom/icon-cloud.png
  src/pages/network/containers/Topology/InstanceCard.jsx
  src/pages/network/containers/Topology/NodeCard.jsx
  src/pages/network/containers/Topology/index.jsx
  src/pages/network/containers/Topology/index.less
  src/resources/neutron/topology-color.js
Due: skyline-console-devstack-e2etests-network

style: update topology page style
  src/pages/network/containers/Topology/index.jsx
  src/stores/neutron/network.js
Due: skyline-console-devstack-e2etests-network

feat: add go to grafana button in instance detail, volumes tab
  src/components/Tables/Base/ActionButton/index.jsx
  src/components/Tables/Base/PrimaryActionButtons/index.jsx
  src/components/Tables/Base/index.less
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/storage/containers/Volume/actions/GoToGrafana.jsx
  src/pages/storage/containers/Volume/actions/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

style: update dropdown menu styles
  src/components/Tables/Base/ItemActionButtons/index.jsx
  src/components/Tables/Base/ItemActionButtons/index.less
  src/pages/compute/containers/Instance/Detail/SecurityGroup/index.jsx
  src/resources/skyline/policy.js
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: pagination non-adjacent markers workaround
  src/pages/storage/containers/Volume/actions/CreateInstance.jsx
  src/stores/base.js
  src/stores/octavia/loadbalancer.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: instance table content update
  src/components/Tables/Base/ItemActionButtons/index.less
  src/components/cube/CubeCopyButton/CubeCopyButton.jsx
  src/components/cube/CubeCopyButton/index.less
  src/pages/compute/containers/Instance/index.jsx
  src/pages/compute/containers/Instance/instance-table.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: instance detail volumes tab content update
  config/webpack.common.js
  src/components/Layout/GlobalHeader/AvatarDropdown.jsx
  src/components/Layout/GlobalHeader/index.less
  src/components/Tables/Base/index.jsx
  src/pages/compute/containers/Instance/index.jsx
  src/resources/cinder/volume-table.less
  src/resources/cinder/volume.jsx
  src/styles/base.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: relocate go to grafana button
  src/components/Tables/Base/ItemActionButtons/index.jsx
  src/components/Tables/Base/ItemActionButtons/index.less
  src/pages/compute/containers/Instance/actions/GoToGrafana.jsx
  src/pages/compute/containers/Instance/actions/index.jsx
  src/pages/storage/containers/Volume/actions/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update .gitreview for stable/2025.1
  .gitreview
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
