Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

skyline-console-devstack-e2etests-compute:
  parent: devstack-multinode
  description: 'Skyline-console e2e tests compute job based on devstack (multi-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/compute/run-devstack.yaml
  - playbooks/devstack/compute/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

skyline-console-devstack-e2etests-network:
  parent: devstack
  description: 'Skyline-console e2e tests network job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/network/run-devstack.yaml
  - playbooks/devstack/network/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

skyline-console-devstack-e2etests-other:
  parent: devstack
  description: 'Skyline-console e2e tests other job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/other/run-devstack.yaml
  - playbooks/devstack/other/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  required-projects:
  ...

skyline-console-devstack-e2etests-storage:
  parent: devstack
  description: 'Skyline-console e2e tests storage job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/storage/run-devstack.yaml
  - playbooks/devstack/storage/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

Fix grammar issue for "Allocation Pools"
  src/pages/network/containers/Network/actions/CreateNetwork.jsx
  src/pages/network/containers/Network/actions/CreateSubnet.jsx
  src/pages/network/containers/Subnet/actions/Edit.jsx
Due: skyline-console-devstack-e2etests-network

Modify "Affiliated Domain" Field
  doc/source/admin/identity.rst
  src/pages/base/containers/Overview/components/ProjectInfo.jsx
  src/pages/identity/containers/Project/Detail/index.jsx
  src/pages/identity/containers/Project/index.jsx
  src/pages/identity/containers/User/Detail/index.jsx
  src/pages/identity/containers/User/actions/Edit.jsx
  src/pages/identity/containers/User/index.jsx
  src/pages/identity/containers/UserGroup/Detail/index.jsx
  src/pages/identity/containers/UserGroup/index.jsx
  src/resources/keystone/domain.jsx
Due: skyline-console-devstack-e2etests-other

Change "Forbidden" action to "Disable"
  doc/source/admin/identity.rst
  docs/en/develop/3-6-FormAction-introduction.md
  src/pages/container-service/containers/Services/index.jsx
  src/pages/identity/containers/Domain/actions/Create.jsx
  src/pages/identity/containers/Domain/actions/Forbidden.jsx
  src/pages/identity/containers/Project/actions/Forbidden.jsx
  src/pages/identity/containers/User/actions/Forbidden.jsx
  src/resources/keystone/domain.jsx
  test/e2e/integration/pages/identity/project.spec.js
  test/e2e/integration/pages/identity/user.spec.js
Due: skyline-console-devstack-e2etests-other

Modify "Restricted Situation" column
  src/pages/user-center/containers/Credentials/index.jsx
Due: skyline-console-devstack-e2etests-other

Correct various grammar of formatting mistakes
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/DisassociateFip.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/index.jsx
  src/utils/validate.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Email Address replace to Email
  src/pages/network/containers/DNS/Zones/actions/Create.jsx
Due: skyline-console-devstack-e2etests-network

Peer Cidrs replace to Peer CIDRs
  src/pages/network/containers/VPN/IPsecSiteConnection/actions/Create.jsx
Due: skyline-console-devstack-e2etests-network

Same subnet with LB use Yes in UI
  src/components/FormItem/MemberAllocator/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix with writing RAM and CPU
  doc/source/admin/compute.rst
  src/components/FormItem/NUMAInput/index.jsx
  src/pages/monitor/containers/Overview/config.jsx
  src/pages/monitor/containers/PhysicalNode/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update Russian language
  src/core/i18n.js
  src/locales/ru.json
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Confirm form, "confirm" button update to OK
  src/components/Confirm/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix for remove QoS policy
  src/pages/network/containers/QoSPolicy/actions/Delete.jsx
Due: skyline-console-devstack-e2etests-network

Fix for CIDR
  src/pages/network/containers/SecurityGroup/Detail/Rule/actions/Create.jsx
Due: skyline-console-devstack-e2etests-network

Fix for DSCP
  src/pages/network/containers/QoSPolicy/actions/DeleteDSCPMarkingRules.jsx
Due: skyline-console-devstack-e2etests-network

Add tooltip for External Gateway option
  src/pages/network/containers/Router/actions/Create.jsx
Due: skyline-console-devstack-e2etests-network

Rename Virtual LAN to Virtual Interface
  doc/source/user/compute.rst
  src/pages/compute/containers/Instance/actions/StepCreate/NetworkStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

Rename "Console" Page to "Project" Page
  doc/source/development/catalog-introduction.rst
  doc/source/user/compute.rst
  doc/source/user/dashboard.rst
  doc/source/user/network.rst
  doc/source/user/storage.rst
  docs/en/develop/2-catalog-introduction.md
  docs/en/develop/3-12-Menu-introduction.md
  src/components/Layout/GlobalHeader/RightContent.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix for VPN
  src/pages/network/containers/VPN/EndpointGroup/actions/Delete.jsx
  src/pages/network/containers/VPN/IKEPolicy/actions/Delete.jsx
  src/pages/network/containers/VPN/IPsecPolicy/actions/Delete.jsx
  src/pages/network/containers/VPN/VPNGateway/actions/Delete.jsx
Due: skyline-console-devstack-e2etests-network

feat: Support default hidden columns
  releasenotes/notes/Support-Default-Hidden-Columns-3e668eb6c62a1686.yaml
  src/components/Tables/Base/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Hide columns “Use Type”, “Container Format”, "Disk Format" by default on Images page
  src/pages/compute/containers/Image/Image.jsx
Due: skyline-console-devstack-e2etests-compute

Hide columns “Storage IOPS” and “Internal Network Bandwidth” by default on Flavor page
  src/resources/nova/flavor.js
Due: skyline-console-devstack-e2etests-compute

Reduce auto-collapse delay for quota info panel
  src/components/InfoButton/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix spacing after colon in Server Groups label
  src/pages/base/containers/Overview/components/QuotaOverview.jsx
Due: skyline-console-devstack-e2etests-other

Remove CoreOS image type and add AlmaLinux and Rocky Linux
  src/asset/image/almalinux.svg
  src/asset/image/coreos.svg
  src/asset/image/rocky.svg
  src/components/ImageType/index.jsx
  src/resources/glance/image.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Rename “Active Status” to “Active” in Instance Overview
  src/pages/base/containers/AdminOverview/components/ResourceOverview.jsx
Due: skyline-console-devstack-e2etests-other

Fix project/user/user groups name validation message
  src/pages/identity/containers/Project/actions/Create.jsx
  src/pages/identity/containers/Project/actions/Edit.jsx
  src/pages/identity/containers/User/actions/Edit.jsx
  src/pages/identity/containers/UserGroup/actions/Create.jsx
  src/pages/identity/containers/UserGroup/actions/Edit.jsx
Due: skyline-console-devstack-e2etests-other

Update: Instance detail view full log opening on url and re-fetches log data on page reload.
  releasenotes/notes/update_instance_detail_view_full_logs-496ebd6ca040eed6.yaml
  src/core/routes.js
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/compute/containers/Instance/Detail/Log/LogDetail/index.jsx
  src/pages/compute/containers/Instance/Detail/Log/LogDetail/index.less
  src/pages/compute/containers/Instance/Detail/Log/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Adjust network detail card width
  src/containers/BaseDetail/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Correct the remaining unformatted VPN phrases.
  src/pages/network/containers/VPN/EndpointGroup/actions/Delete.jsx
  src/pages/network/containers/VPN/IKEPolicy/actions/Delete.jsx
  src/pages/network/containers/VPN/IPsecPolicy/actions/Delete.jsx
Due: skyline-console-devstack-e2etests-network

Hide Tags column on Instances page
  src/pages/compute/containers/Instance/index.jsx
Due: skyline-console-devstack-e2etests-compute

Rename “Instance Snapshot Name” to “Snapshot Name”
  src/pages/compute/containers/Instance/actions/CreateSnapshot.jsx
Due: skyline-console-devstack-e2etests-compute

Correct "Unrestricted" to "Restriction" Field
  src/pages/user-center/containers/Credentials/actions/Create.jsx
Due: skyline-console-devstack-e2etests-other

Remove panko policy
  src/resources/skyline/policy.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix for vNIC writing
  src/pages/network/containers/Port/Detail/BaseDetail/index.jsx
  src/pages/network/containers/Router/Port/Detail/BaseDetail.jsx
Due: skyline-console-devstack-e2etests-network

Rename Port Detail Base Info Labels
  src/pages/network/containers/Port/Detail/BaseDetail/index.jsx
Due: skyline-console-devstack-e2etests-network

Fix OS display names in image selector
  src/resources/glance/image.jsx
Due: skyline-console-devstack-e2etests-compute

Improve IP terminology for instances
  src/pages/compute/containers/Instance/index.jsx
  src/pages/network/containers/FloatingIp/Detail/BaseDetail.jsx
  src/pages/network/containers/FloatingIp/actions/Associate.jsx
  src/pages/network/containers/Port/actions/AssociateFIP.jsx
  src/pages/network/containers/Topology/InstanceCard.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network

Fix notification word wrapping
  src/components/Notify/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update Russian language
  src/locales/ru.json
Due: none

Backend rename to Back-End
  src/pages/storage/containers/VolumeType/VolumeType/actions/Create.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
