Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^src/layouts/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$

chore: add .nvmrc to switch node version used by skyline-console
  .nvmrc
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

chore: scp local dist to dev remote scripts
  .gitignore
  package.json
  scripts/deployToDevRemote.sh
  scripts/remote_hosts.properties.example
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add progress details tab to instance-ha notification details page
  src/client/client/constants.js
  src/components/Tables/Base/index.jsx
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/ha/containers/Notifications/Detail/ProgressDetails.jsx
  src/pages/ha/containers/Notifications/Detail/index.jsx
  src/pages/ha/containers/Notifications/Detail/index.less
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

refactor: remove the tabs workaround from Flavors List page
  src/containers/List/index.jsx
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Flavor/actions/ManageMetadata.jsx
  src/pages/compute/containers/Flavor/index.jsx
  src/stores/base.js
  src/stores/nova/flavor.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: hide architecture field in create flavor page
  src/pages/compute/containers/Flavor/Other/actions/index.jsx
  src/pages/compute/containers/Flavor/X86/actions/Create.jsx
  src/pages/compute/containers/Flavor/actions/StepCreate/ParamSetting.jsx
  src/pages/compute/containers/Flavor/actions/StepCreate/index.jsx
  src/stores/nova/flavor.js
Due: skyline-console-devstack-e2etests-compute

feat: replace tabs view with x86 and custom flavors table for admin
  src/containers/List/index.jsx
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Flavor/actions/ManageMetadata.jsx
  src/pages/compute/containers/Flavor/index.jsx
  src/resources/nova/flavor.js
  src/resources/nova/flavor.less
  src/stores/base.js
  src/stores/nova/flavor.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: existing flavor metadata not showing
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Flavor/actions/ManageMetadata.jsx
Due: skyline-console-devstack-e2etests-compute

fix: Add X-Openstack-Request-Id for e2e request
  test/e2e/integration/pages/network/network.spec.js
  test/e2e/integration/pages/network/port.spec.js
  test/e2e/support/commands.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Update menu
  .zuul.yaml
  src/layouts/Base/Menu.jsx
  src/layouts/Base/index.jsx
Due: none

feat: Update auto refresh
  src/containers/List/index.jsx
  src/containers/TabDetail/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: Need trim filter string
  src/containers/List/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: Trim GET/HEAD query params to avoid trailing-space %20
  src/client/client/request.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Add Fixed IP filter to the Instance page
  src/pages/compute/containers/Instance/index.jsx
Due: skyline-console-devstack-e2etests-compute

feat: Update fixed ip filter for instance
  src/pages/compute/containers/Instance/index.jsx
Due: skyline-console-devstack-e2etests-compute

feat: update create image form
  src/apis/imageApi.js
  src/apis/volumeApi.js
  src/components/Form/index.less
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Image/actions/Create.jsx
  src/stores/cos/image.js
  src/stores/cos/volume.js
  src/utils/api.js
  src/utils/file.js
  src/utils/image.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add tokens api
  config/config.yaml
  src/apis/cosApi.js
  src/apis/cosTokenApi.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add image and volume apis
  src/apis/grafanaApi.js
  src/apis/imageApi.js
  src/apis/openSearchApi.js
  src/apis/volumeApi.js
  src/utils/api.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: storage volumes name search not working as expected
  src/containers/List/index.jsx
  src/pages/storage/containers/Backup/index.jsx
  src/pages/storage/containers/Snapshot/index.jsx
  src/pages/storage/containers/Volume/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

refactor: add paginate utils
  src/containers/List/index.jsx
  src/utils/index.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update volume list
  src/apis/volumeApi.js
  src/components/ImportStatus/index.jsx
  src/pages/compute/containers/Image/Image.jsx
  src/pages/storage/containers/Volume/index.jsx
  src/resources/cinder/volume.jsx
  src/stores/base.js
  src/stores/cos/image.js
  src/stores/cos/volume.js
  src/utils/image.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update image list
  src/apis/imageApi.js
  src/components/ImportStatus/index.jsx
  src/components/ImportStatus/index.less
  src/pages/compute/containers/Image/Image.jsx
  src/pages/compute/containers/Image/actions/Create.jsx
  src/stores/cos/image.js
  src/styles/variables.less
  src/utils/image.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: specify the permission of GITHUB_TOKEN in skyline-console-wheel workflow
  .github/workflows/skyline-console-wheel.yaml
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

chore: add code owners for pr
  .github/CODEOWNERS
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

chore: add the pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

ci: add build wheel workflow
  .github/workflows/skyline-console-wheel.yaml
  README.rst
  docs/en/develop/4-0-build-wheel.md
  package.json
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update OS data source to match table display
  src/pages/compute/containers/Image/Image.jsx
Due: skyline-console-devstack-e2etests-compute

fix: invalid vars syntax in playbooks
  playbooks/devstack/compute/run-e2etests.yaml
  playbooks/devstack/network/run-e2etests.yaml
  playbooks/devstack/other/run-e2etests.yaml
  playbooks/devstack/pre.yaml
  playbooks/devstack/storage/run-e2etests.yaml
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update master for stable/2025.2
  releasenotes/source/2025.2.rst
  releasenotes/source/index.rst
Due: none

feat: update OS data source to match table display
  src/components/ImageType/index.jsx
  src/pages/compute/containers/Image/Image.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: set an id in the image store mapper
  src/components/ImageType/index.jsx
  src/stores/cos/image.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: replace disk type with value from COS API
  src/pages/compute/containers/Image/Image.jsx
  src/stores/cos/image.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: add edit image API and implement edit image functionality
  src/apis/imageApi.js
  src/pages/compute/containers/Image/actions/Edit.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: handle case when image ID is not found
  src/components/ImageType/index.jsx
  src/pages/compute/containers/Image/actions/Edit.jsx
  src/stores/cos/image.js
  src/utils/os.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update fetch image detail logic and operation permissions
  src/pages/compute/containers/Image/actions/Edit.jsx
  src/stores/cos/image.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: reuse OS mapping values and update ImageType component
  src/components/ImageType/index.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update edit image page
  src/layouts/admin-menu.jsx
  src/layouts/menu.jsx
  src/pages/compute/containers/Image/actions/Edit.jsx
  src/pages/compute/routes/index.js
  src/stores/cos/image.js
  src/utils/os.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Add Loading form item component
  src/components/FormItem/Loading/index.jsx
  src/components/FormItem/index.jsx
  src/utils/constants.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Add Unrescue feature to nova instance actions
  src/pages/compute/containers/Instance/actions/Unrescue.jsx
  src/pages/compute/containers/Instance/actions/index.jsx
  src/stores/nova/instance.js
Due: skyline-console-devstack-e2etests-compute

fix: display image metadata correctly and ensure it can be updated
  src/components/FormItem/AddSelect/index.jsx
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/locales/zh-hant.json
  src/pages/compute/containers/Image/actions/ManageMetadata.jsx
  src/stores/cos/image.js
  src/utils/image.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: update image list page diplay logic
  src/pages/compute/containers/Image/index.jsx
  src/stores/cos/image.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage
