Repository openstack/skyline-console: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

skyline-console-devstack-e2etests-compute:
  parent: devstack-multinode
  description: 'Skyline-console e2e tests compute job based on devstack (multi-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/compute/run-devstack.yaml
  - playbooks/devstack/compute/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

skyline-console-devstack-e2etests-network:
  parent: devstack
  description: 'Skyline-console e2e tests network job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/network/run-devstack.yaml
  - playbooks/devstack/network/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

skyline-console-devstack-e2etests-other:
  parent: devstack
  description: 'Skyline-console e2e tests other job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/other/run-devstack.yaml
  - playbooks/devstack/other/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  required-projects:
  ...

skyline-console-devstack-e2etests-storage:
  parent: devstack
  description: 'Skyline-console e2e tests storage job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/storage/run-devstack.yaml
  - playbooks/devstack/storage/run-e2etests.yaml
  post-run:
  - playbooks/devstack/post.yaml
  ...

fix: Notify users to Confirm/Revert after VM resize
  src/pages/compute/containers/Instance/index.jsx
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute

feat: show IOPS for volume type during volume creation and hide distro icons when no images are available
  src/pages/storage/containers/Volume/actions/Create/index.jsx
  src/resources/cinder/volume-type.js
  src/stores/cinder/volume-type.js
Due: skyline-console-devstack-e2etests-storage

feat: hide fip input based on policy, add description field to secgroup rule, show project description on the project switch page
  src/components/Layout/GlobalHeader/ProjectTable.jsx
  src/pages/network/containers/FloatingIp/actions/Allocate.jsx
  src/pages/network/containers/SecurityGroup/Detail/Rule/actions/Create.jsx
  src/resources/neutron/security-group-rule.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Add flavor selection and monitoring URL option during load balancer creation
  src/client/octavia/index.js
  src/components/MagicInput/index.jsx
  src/pages/network/containers/LoadBalancers/Listener/Actions/EditHealthMonitor.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/BaseDetail.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/Detail/index.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/BaseStep/index.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/HealthMonitorStep/index.jsx
  src/resources/octavia/lb.jsx
  src/stores/octavia/flavor.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Make default user domain configurable and improve username handling
  src/client/skyline/index.js
  src/locales/en.json
  src/locales/ko-kr.json
  src/locales/ru.json
  src/locales/tr-tr.json
  src/locales/zh-hans.json
  src/pages/auth/containers/Login/index.jsx
  src/stores/skyline/skyline.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat:adds barbican panel(named Key-Manager)
  src/client/barbican/index.js
  src/components/Form/index.jsx
  src/layouts/menu.jsx
  src/pages/barbican/App.jsx
  src/pages/barbican/containers/Secret/Detail/BaseDetail.jsx
  src/pages/barbican/containers/Secret/Detail/index.jsx
  src/pages/barbican/containers/Secret/actions/Create.jsx
  src/pages/barbican/containers/Secret/actions/Delete.jsx
  src/pages/barbican/containers/Secret/actions/index.js
  src/pages/barbican/containers/Secret/index.jsx
  src/pages/barbican/routes/index.jsx
  src/pages/basic/routes/index.js
  src/resources/skyline/policy.js
  src/stores/barbican/containers.js
  src/stores/barbican/orders.js
  src/stores/barbican/secrets.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Add enable/disable action for load balancer member and display provisioning/operating status
  src/pages/network/containers/LoadBalancers/Listener/Detail/Member/Actions/DisableMember.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/Member/Actions/EnableMember.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/Member/Actions/index.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/Member/index.jsx
Due: skyline-console-devstack-e2etests-network

feat: default selections for detach, disassociate, and FIP allocate
  src/pages/compute/containers/Instance/actions/DetachInterface.jsx
  src/pages/compute/containers/Instance/actions/DetachVolume.jsx
  src/pages/compute/containers/Instance/actions/DisassociateFip.jsx
  src/pages/network/containers/FloatingIp/actions/Allocate.jsx
  src/pages/storage/containers/Volume/actions/Detach.jsx
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-storage

feat: set destination default value based on isDefault field from response
  src/pages/compute/containers/Image/actions/Create.jsx
Due: skyline-console-devstack-e2etests-compute

fix: display volume list correspondingly
  src/pages/storage/containers/Volume/index.jsx
  src/resources/cinder/volume.jsx
Due: skyline-console-devstack-e2etests-storage

fix(compute): add null check before hashing admin password
  package.json
  releasenotes/notes/hash_password_for_cloud_init-39832aa3ed66347f.yaml
  src/pages/compute/containers/Instance/actions/CreateIronic/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/index.jsx
  src/resources/nova/instance.jsx
  src/stores/nova/instance.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: create image with current project under console view
  src/pages/compute/containers/Image/actions/Create.jsx
Due: skyline-console-devstack-e2etests-compute

Fix project list for federated users
  src/client/keystone/index.js
  src/stores/keystone/user.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: invalid vars syntax in playbooks
  .zuul.yaml
  playbooks/devstack/compute/run-e2etests.yaml
  playbooks/devstack/network/run-e2etests.yaml
  playbooks/devstack/other/run-e2etests.yaml
  playbooks/devstack/pre.yaml
  playbooks/devstack/storage/run-e2etests.yaml
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Update .gitreview for stable/2025.2
  .gitreview
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feature: Add user id column for action log
  src/resources/nova/instance.jsx
Due: skyline-console-devstack-e2etests-compute

Update TOX_CONSTRAINTS_FILE for stable/2025.2
  tox.ini
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: show instance name in member selection table during load balancer creation
  src/components/FormItem/MemberAllocator/index.jsx
  src/pages/network/containers/LoadBalancers/Listener/Detail/Member/Actions/CreateMember.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/MemberStep/index.jsx
  src/stores/neutron/port-extension.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: Add OVN load balancer provider support
  src/client/octavia/index.js
  src/pages/network/containers/LoadBalancers/Listener/Actions/CreatePool.jsx
  src/pages/network/containers/LoadBalancers/Listener/Actions/EditPoolInfo.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/BaseStep/index.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/HealthMonitorStep/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/ListenerStep/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/PoolStep/index.jsx
  src/resources/octavia/pool.js
  src/stores/octavia/provider.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

feat: optimise instance creation user flow
  src/asset/image/rocky.svg
  src/components/FormItem/InstanceVolume/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
  src/resources/glance/image.jsx
  src/utils/os.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: invalid vars syntax in playbooks
  playbooks/devstack/compute/run-e2etests.yaml
  playbooks/devstack/network/run-e2etests.yaml
  playbooks/devstack/other/run-e2etests.yaml
  playbooks/devstack/pre.yaml
  playbooks/devstack/storage/run-e2etests.yaml
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

reno: Update master for unmaintained/2024.1
  releasenotes/source/2024.1.rst
Due: none

fix: os list display problem on instance creation page
  src/resources/glance/image.jsx
  src/stores/glance/image.js
Due: skyline-console-devstack-e2etests-compute

fix: os list display problem on instance creation page
  src/resources/glance/image.jsx
Due: skyline-console-devstack-e2etests-compute

fix: include volume_id for fetching volume backup details
  src/pages/storage/containers/Backup/index.jsx
  src/stores/base.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: update API params to fetch correct volume list under admin view
  src/stores/cos/volume.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix: Remove health monitor url for TCP and UDP health type
  src/pages/network/containers/LoadBalancers/Listener/Actions/EditHealthMonitor.jsx
  src/pages/network/containers/LoadBalancers/LoadBalancerInstance/actions/StepCreate/index.jsx
  src/pages/network/containers/LoadBalancers/StepCreateComponents/HealthMonitorStep/index.jsx
Due: skyline-console-devstack-e2etests-network

fix: system disk size display when creating instance from volume-backed instance snapshots
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
  src/pages/compute/containers/Instance/actions/StepCreate/ConfirmStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

feat: use snapshot size instead of min_disk when creating instance from snapshot
  src/pages/compute/containers/Instance/actions/StepCreate/BaseStep/index.jsx
Due: skyline-console-devstack-e2etests-compute

fix: volumes column values missing
  src/stores/base.js
  src/stores/cos/volume.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: Accept an IP address or CIDR in allowed address pair creation
  src/pages/network/containers/Port/Detail/AllowedAddressPair/actions/CreateAllowedAddressPair.jsx
Due: skyline-console-devstack-e2etests-network

Drop support for Python 3.8 and 3.9
  releasenotes/notes/drop-python-38-and-39.yaml
  setup.cfg
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Migrate setup configuration to pyproject.toml
  pyproject.toml
  setup.cfg
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Drop basepython
  tox.ini
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

fix: Resolve object storage folder navigation and display issues
  src/pages/storage/containers/Container/Detail/actions/CreateFolder.jsx
  src/pages/storage/containers/Container/Detail/actions/UploadFile.jsx
  src/pages/storage/containers/Container/Detail/index.jsx
  src/stores/swift/object.js
  src/utils/validate.js
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Fix tox4 error
  tox.ini
Due: skyline-console-devstack-e2etests-compute, skyline-console-devstack-e2etests-network, skyline-console-devstack-e2etests-other, skyline-console-devstack-e2etests-storage

Path conditions:
  skyline-console-devstack-e2etests-compute: unless all of: ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-network: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/manila/.*$, ^src/stores/keystone/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-other: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/storage/.*$, ^src/stores/cinder/.*$, ^src/resources/cinder/.*$, ^test/e2e/integration/pages/storage/.*$, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
  skyline-console-devstack-e2etests-storage: unless all of: ^src/pages/compute/.*$, ^src/stores/glance/.*$, ^src/stores/ironic/.*$, ^src/stores/nova/.*$, ^src/stores/skyline/.*$, ^src/resources/glance/.*$, ^src/resources/ironic/.*$, ^src/resources/nova/.*$, ^test/e2e/integration/pages/compute/.*$, ^src/pages/network/.*$, ^src/stores/neutron/.*$, ^src/stores/octavia/.*$, ^src/resources/neutron/.*$, ^src/resources/octavia/.*$, ^test/e2e/integration/pages/network/.*$, ^src/pages/auth/.*$, ^src/pages/base/.*$, ^src/pages/basic/.*$, ^src/pages/configuration/.*$, ^src/pages/heat/.*$, ^src/pages/identity/.*$, ^src/pages/management/.*$, ^src/pages/user-center/.*$, ^src/pages/share/.*$, ^src/pages/container-infra/.*$, ^src/pages/container-service/.*$, ^src/pages/database/.*$, ^src/stores/heat/.*$, ^src/stores/zun/.*$, ^src/stores/keystone/.*$, ^src/stores/manila/.*$, ^src/stores/magnum/.*$, ^src/stores/trove/.*$, ^src/resources/heat/.*$, ^src/resources/zun/.*$, ^src/resources/keystone/.*$, ^src/resources/manila/.*$, ^src/resources/magnum/.*$, ^src/resources/trove/.*$, ^test/e2e/integration/pages/configuration/.*$, ^test/e2e/integration/pages/heat/.*$, ^test/e2e/integration/pages/zun/.*$, ^test/e2e/integration/pages/identity/.*$, ^test/e2e/integration/pages/manila/.*$, ^test/e2e/integration/pages/error.spec.js, ^test/e2e/integration/pages/login.spec.js, ^src/styles/.*$, ^src/locales/.*$, ^src/asset/.*$, ^.zuul.yaml$, ^.*\.md$, ^.*\.rst$, ^releasenotes/.*$, ^skyline_console/.*$
